.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height:15rem;
  margin-top: 9rem;
  margin-bottom: 13rem;
  /* scroll view */
  padding-top: 3rem;
}
/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}
.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2px;
}
.awesome > :nth-child(3) {
  margin-bottom: 1rem;
  color: var(--gray);
  font-size: .8rem;
}
.s-button {
  width: 7.5rem;
  height: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}
@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
  }
  
  div.wiggle {
  display: inline-block;
  animation: wiggle 2.7s infinite;
  }
  
  div.wiggle:hover {
  animation: none;
  }
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}
@media screen and (max-width: 480px) {
  .services {
    margin-top: 40rem;
    flex-direction: column;
    gap: 5rem;
    height: 27rem;
    padding: 0;
  }
  .s-button {
    height: 2rem;
    margin-top: .9rem;
    margin-left: 2.1rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 17rem;
    left:-14.7rem;
    
  }
  .awesome > :nth-child(3) {
    text-align: center;
  }
  }
