.services {
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20rem;
}
/* left side */
.awesome {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}
.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  margin-top: 1rem;
  color: var(--gray);
  font-size: 14px;
}
.cards{
  flex: 1;
  position: relative;
}
.cards > *{
  position: absolute;
}
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}
@media (min-width: 320px) and (max-width:480px){
  .services {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0;
    height: 25rem;
  }
  
  .cards{
    padding: 0;
    transform: scale(.8);
    margin-bottom: 2rem;
  }
 
   }  
   @media (min-width: 481px) and (max-width: 767px) {
   .services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;   

  }
  
  }
 
/*
.s-button {
  width: 7.5rem;
  height: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}
@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
  }
  
  div.wiggle {
  display: inline-block;
  animation: wiggle 2.7s infinite;
  }
  
  div.wiggle:hover {
  animation: none;
  }*/