.education {
  height: 80vh;
  margin-top: 6rem;
  margin-bottom: 1rem;
  padding: 5rem 0;
  flex-wrap: wrap;
  display: flex;
}
* {
  font-family: Gumelo;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
  color: var(--black);

}

.heading {
  font-weight: bold;
  font-size: 2.5rem;

}
.heading span{
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;

}
.box{
  height: 15rem;
  width: 18rem;
  padding: 2rem 2rem;
  border-radius: 5rem;
  box-shadow: 10px 10px 5px #595858;
  display: flex;
  flex-direction: column;
  
}

.box i{
 transform: scale(2);
 padding-bottom: 2rem;
}

.box span:nth-of-type(1){
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;

}
.box span {
  padding-bottom: 0.5rem;
  color: black;
}

.education .box-container {
  display: flex;
  align-items: top;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 5rem;
}
@media screen and (max-width: 480px) {
  .education {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
  .education .box-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
    padding:  2rem 0;
}
.box{
  text-align: center;
  flex-wrap: wrap;
  height: 12rem;
  width: 15rem;
  padding: 1rem 0;
  position: relative;

}
 .heading {
  text-align: center;
}
.box i{
  transform: scale(1.4);

  padding-bottom: 1.3rem;
}
.box span {
  font-size: 0.7rem;
}
}
@media (min-width: 481px) and (max-width: 900px){
  .education  {
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

}
.education .box-container {
  align-items: center;
  justify-content: center;
}}



 