.education {
  height: 90vh;
  padding: 3rem 0;
  margin: 3rem 0;
}
* {
  font-family: Gumelo;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
  color: var(--black);

}

.heading {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.heading span{
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.education .box-container {
  width: 50vw;
  margin: 1rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
  .box{
    
    background: lighten(black, 10%);
    padding: 0.5rem;
    border-bottom: 5px solid orange;
  }
  
  .box span:nth-of-type(2){
    color: var(--gray);
    margin: 0.5rem 0;
    display: block;
    font-size: .8rem;

    }
    @media (min-width: 768px) and (max-width: 1024px){
      .education {
        height: auto;
        padding: 1rem 0;
        margin: 5rem 0;
      }
    }
  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px){
    .education {
      height: auto;
      padding: 1rem 0;
      margin: 5rem 0;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
  .education {
    height: auto;
    padding: 1rem 0;
    margin: 5rem 0;
  }
}