.intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height:78vh;
 margin-top: 8rem;
 width: 100%;
}
.i-left{
  display: grid;
  position: relative;
  grid-template-columns: 1fr ;
  
  gap: 2rem;
}
.i-name{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.i-name>:nth-child(1){
  color: var(--black);
  font-weight: bold;
  font-size: 2.5rem;
}
.i-name>:nth-child(2){
  color: var(--orange);
  font-weight: bold;
  font-size: 2.5rem;
}
.i-name>:nth-child(3){
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
}
.i-button{
  width: 6rem;
  height:2rem;
}
.i-icons{
  margin-top: 1rem;
  display: flex;
  gap: 0rem;
}
.i-icons>*{
  transform: scale(0.4);
}

.i-icons>*:hover{
  transform: scale(0.5);
  cursor: pointer;
}
.i-right {
  flex: 1;
  position: relative;
    }
  .i-right>*{
    position: absolute;
    z-index: 1;   
  }
  .i-right > :nth-child(1) {
    transform: scale(0.6);
    top: -30%;    
    left: -15%;
  }
  .i-right>:nth-child(2){
    transform: scale(0.6);
    top: -10%;
    border-radius: 50%;
    padding: 0;
  }
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
  .floating-div:nth-of-type(1){
    top: 15%;
    transform: scale(.7);

}
        /* Media Query for Mobile Devices */
@media (min-width: 320px) and (max-width:480px){
    .intro{
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 5rem;
      margin-bottom: 10rem;
      transform: scale(.9); 
      padding: 0;
       } 
    .i-right{
    transform: scale(0.6);  
     }
  .floating-div:nth-of-type(1){
    top: -15%;
    transform: scale(.8);
}
.i-icons{
  margin-top: -2rem;
}
}  
 /* Media Query for low resolution  Tablets, Ipads */
 @media (min-width: 481px) and (max-width: 767px) {
  .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  
  .i-icons{
    margin-top: -2.8rem;
  }
  .i-right{
    transform: scale(0.8);  

  }
  .floating-div:nth-of-type(1){
    top: -15%;
    transform: scale(.8);
} 
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .intro{
    margin-top: 10rem;
    margin-bottom: 2rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  .i-left{
    transform: scale(0.9);  

  } 
  .i-button{
    margin-top: -8rem;
  }
  .i-icons{
    margin-top: auto;
  }
  .i-right{
    transform: scale(0.8);  

  }
  .floating-div:nth-of-type(1){
    top: -19%;
    transform: scale(.8);
}
}
