.intro{
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  margin-top: 6rem;
  margin-bottom: 1rem;
  
}
.i-left{
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.i-name{
  display: flex;
  flex-direction: column;
}

.i-name>:nth-child(1){
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name>:nth-child(2){
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name>:nth-child(3){
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
}
.i-button{
  width: 6rem;
  height:2rem;
}
.i-icons{
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons>*{
  transform: scale(0.5);
}

.i-icons>*:hover{
  transform: scale(0.6);
  cursor: pointer;
}
.i-right {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
    }
  .i-right>*{
    position: absolute;
    z-index: 1;
    
  }
  .i-right > :nth-child(1) {
    transform: scale(0.4);
    box-shadow: 10px 10px 10px 10px #595858;
    padding: 0;
    left: -2rem;
    top: -10rem;
    align-items: center;
  justify-content: center;
  }
  .i-right>:nth-child(2){
    transform: scale(0.6);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
  @media screen and (max-width:480px){
    .intro{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 3rem;
    }
    .i-left{
      align-items: center;
      justify-content: center;
    }
    .i-right{
      transform: scale(.7);
      align-items: center;
      justify-content: center;
    }
    
    .i-right > :nth-child(1) {
       top: -1rem;
       bottom: -5%;
       transform: scale(0.57);
       left: -7rem;
    }
    .floating-div:nth-of-type(1){
        top: -2rem !important;;
    }

  }@media (min-width: 481px) and (max-width: 800px){
    .i-icons{
      margin-top: 0;
    }
  }
  