:root
{
     --purple: #662fbe;
    --green : #18c40b;
     --blue : #09a3d6;
     --black : #111014;
    --blackish : #242D49;
    --white :  #f1f2f5;
    --gray : #788097;
    --orange : #FCA61F;
    --blueCard : #DDF8FE;
    --offwhite: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --blueCard : #f0f3f3;

  }

.App{
    padding:  0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button{

  background: linear-gradient(120deg, #111014 26.71%, #662fbe 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(98, 86, 207, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}
@keyframes kreep {
  0% {-webkit-transform: scale(1.1,.9);
      transform: scale(1.1,.9);}
 50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
 70% { -webkit-transform: scale(1);
       transform: scale(1);}
}
.button:hover{
  background: linear-gradient(120deg, #662fbe 26.71%, #111014 99.36%);
  cursor: pointer;
  border: 1px solid var(--black);
  
}

@media screen and (max-width:480px){
  .App{
    padding: 28px;
  }
  
}
@media (min-width: 481px) and (max-width: 767px) {
  .App{
    padding: 18px;
  }
}